<form (ngSubmit)="onSubmit()">
  <h1>Doctor signUp</h1>
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="Name" [(ngModel)]="doctor.Name" required>
  </div>
  <div>
    <label for="contactNumber">Contact Number:</label>
    <input type="text" id="contactNumber" name="ContactNumber" [(ngModel)]="doctor.ContactNumber" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="Email" [(ngModel)]="doctor.Email" required>
  </div>
  <div>
    <label for="scheduling">Scheduling:</label>
    <input type="text" id="scheduling" name="Scheduling" [(ngModel)]="doctor.Scheduling" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="Password" [(ngModel)]="doctor.Password" required>
  </div>
  <button type="submit">Submit</button>
  <div class="a">
    <a routerLink="/login">patient login</a>
    <a routerLink="/doctorLogin">doctor login</a>
  </div>

</form>
